body{
 font-family:'Raleway', sans-serif;
}

h1{
 font-family:'Raleway', sans-serif;
 }
 h2{
 font-family:'Raleway', sans-serif;
 }
  h3{
 font-family:'Raleway', sans-serif;
 }

#mainNav{
   background-color: gray;
}

.navbar-header{
   margin-left: 1p%;
}

.footer-col{
 margin-left: -10%;
 background-color: red;
}



.list-inline{

  margin-left: 80%;
  margin-top: 1%;

}

.img-responsive{
  border-radius: 10%;
} 

.red{
   background-color: red;
}

.red1{
  color: red;
}

#size{
  size: 10%;
}

#move{
  margin-top: 38%;
  border-radius: 50%;
  margin-left: 10%;
}

#move1{
 


  margin-top: 25%;

}



.contact{
  margin-top: -10%;
}

.contact2{
  margin-top: 3%;
}

.move1{
 margin-left: 2%;
}

.shift{
 margin-top: 5%;
}

.space{
  margin-top: 10%;
}

.space1{
  margin-top: 3%;
}

.space2{
 margin-top: 4%;
}

.space3{
 margin-top: 15%;
}

.title{
 color: black;
}

.jumbotron{
 color: red;
}

.big{
 height= 100;
}

.border{

border: solid;
}
footer{
 background-color: gray;
}

.footer-below{
 background-color: gray;
}

.down{
 margin-top: 15%;
}

#portfolioModal3{
 a.hover: background-color: red;
}

.gray{
  background-color: lightgray;
}

li-active{
 color: red;
}

a{
 color: red;
}

a.hover{
 background-color: red;
}
 